body
{
	margin:0;
	padding:0;
	height:100vh;
	font-family: 'popins',sans-serif;	
}
.header
{
	width : 100%;
	position: fixed;
	top: 0;
	background-color: whitesmoke;
	box-sizing: border-box;
	height: 15%;
	z-index: 1;
}
.header > img
{
	height: 75px;
}
.header > form
{
	display: inline;
}
.navbtn
{
	padding-top:0px; 
	position: absolute; 
	display: inline;
	left: 90%;
	
}
.navbtn > i 
{
	font-size: 40px;
	margin: 9px;
	margin-left:30px;
	margin-bottom: 24px;
	margin-top: 30px;
	position: absolute;	
}
.navbtn > i:hover
{
	cursor: pointer;
	transition: 0.5s;
	opacity: 1;
}
.nav
{
	position: fixed;
	top: 10%;
	left: 13%;
	background-color: #ed1b24;
    border-color: transparent;
    border: none;
    z-index: 2;
    font-size: 15px;
   	box-sizing: border-box;
	box-shadow: 2px 2px 4px black;
}
.heading
{
	width : 100%;
	position: fixed;
	top: 15%;
	box-sizing: border-box;
	background-color: #ed1b24;
	height: 120px;
	box-shadow: 0 10px 10px grey;
	z-index: 1;	
}
.heading > label
{
	font-size: 25px;
	color: white;
	font-weight: bold;
	top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin-left: 0px;
    text-align: center;
    position: absolute;
}
.nav ul
{
	display: flex;
	justify-content:flex-end;
	max-width:1200px;
	margin: 0 auto;
	padding:15px 15px;
}
.nav ul li
{
		list-style:none;
		letter-spacing: 1px;
		position:relative;
		padding: 10px 10px;
		margin-right: 2px;
		box-sizing:border-box;
}
.nav ul li:hover
{
	background-color: black;
	color: white;
}
.nav ul li a:hover
{
	color: white;
}
.nav ul li a 
{
	text-decoration:none;
	padding:0 20px;
	color:#95afc0;	
	color: #ecf0f1;
}
.nav ul li ul
{
	position :absolute;
	top:40px;
	left:0;
	padding:0 0px;
	background:#000;
	display:block;
	width:230px;
	opacity:0;
	visibility:hidden;
}
.nav ul li:hover ul
{
	opacity:1;
	visibility:visible;
}
.nav ul li ul li
{
	border:1px solid rgba(255,255,255,.2);
	border-right:none;
	border-left:none;
	margin-right: 0px;
	padding: 10px 0px;
}
.nav ul li ul li:hover
{
	background-color: #c23616;
}
.nav ul li ul li a
{
	color: #dcdde1;
}

.nav ul li ul li a:hover
{
	color: #dcdde1;
}
.active
{
	color: white;
	background-color: black;
}
.sharecircle
{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 85%;
	left: 93%;
	position: fixed;
	z-index: 1;
	background-color: black;
	border-radius: 50%;
	font-size: 25px;
	cursor: pointer;
	border:2px solid black;
	box-sizing: border-box;
	box-shadow: 2px 2px 4px black;
}
.sharecircle:hover
{
	transition: 0.5s;
	opacity: 1;
	background-color: #ed1b24;
}
.sharecircle:hover>i
{
	font-weight: bold;
	color: #ecf0f1;
}
.sharecircle > i
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	color: white;
}
.facebook
{
	width: 35px;
	height: 35px;
	top: 79%;
	left: 92%;
	font-size: 16px;
	display: none;
}
.instagram
{
	top: 82%;
	left: 89%;
	width: 35px;
	height: 35px;
	font-size: 16px;
	display: none;
}
.youtube
{
	top: 89%;
	left: 89%;
	width: 35px;
	height: 35px;
	font-size: 16px;
	display: none;
}
.gmail
{
	top: 93%;
	left: 92%;
	width: 35px;
	height: 35px;
	font-size: 16px;
	display: none;
}
.box
{
	padding: 0px;
	margin: 0px;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: black;
	top:40%;
	left:23%;	
	width: 500px;
	margin-top: 150px;
	height:300px;
	box-shadow: 0 10px 10px black;
}
.registerdonor
{
	position: relative;
	top: 40%;
	left: 45%;
	width:55%;
}
.login
{
	height:300px;
    width:90%;
    border:2px solid #7f8c8d;
    position: relative;
}
.login > h3
{
	width:160px;
    margin-top:-10px;
    margin-left:30px;
    background-color: white;
    position: relative;
   	color: #c44569;
    border:1px solid black;
}
form table
{
	margin-top: 30px;
    left: 6%;
    position: relative;
}
table td
{
	outline: none;
	margin-left:30px;
	width: 250px;
	color:white;
	background: transparent;
	border-radius: 10px;
	height: 40px;
	margin-top: 50px;
	color: black;
	font-size: 18px;
}
table td:nth-child(even)
{
	border-bottom:2px solid lightgrey;
	border-radius: 0px;
}
form label
{
	font-size: 18px;
	font-weight: bold;
    width: auto;
	position: absolute;
	display: block;
	margin-left: 33px;
	margin-top: -11px;
	color: #e74c3c;
}
h3{
	margin-top: 30px;
	color: white;
	font-family: sans-serif;
	text-align: center;

}
form{
	text-align: center;
}
form span{
	position: relative;
}
form span i{
	top:7%;
	margin-left:20px;
	position: absolute;
	color: white;
}
.box >form input
{
	padding: 10px;
	padding-left: 33px;
	outline: none;
	margin:10px;
	margin-top: 40px;
	margin-left: 10px;
	border:none;
	width: 200px;
	color:white;
	background: transparent;
	border: 2px solid lightgrey;
	border-radius: 10px;
}
.btn
{
	padding-top:10px; 
	margin-bottom:12px;
}
.btn >a> input
{
	display: inline-block;
	width:140px;
	background:#1b00ff;
	text-align:center;
	padding:5px;
	border-radius:25px;
	color:white;
	cursor:pointer;
	border-radius: 25px;
	text-transform:uppercase;
	transition: 0.5s;
}
.btn >a>input:hover
{
	background-color: white;
	color: black;
	width:170px;
	transition: 0.5s;
	font-weight: bold;
}
.sidenav 
{
  height: 48%;
  position: fixed;
  z-index:2;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  left: 78%;
  width: 300px;
  display: none;
  animation-name:animate;
  animation-duration: 1.5s; 
}
@keyframes animate
{
	0%
	{
		width: 0px;
		left: 100%;
	}
	100%
	{
		width: 300px;
		left: 78%;
	}
}
.sidenav > a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 3;
}
.sidenav > a:hover 
{
  color: #f1f1f1;
  cursor: pointer;
}
.sidenav > i 
{
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 3;
}
.sidenav >.closebtn 
{
  position: absolute;
  top: 0;
  font-size: 36px;
}
.a
{
	position: absolute;
	left: 50%;
    top: 10px;
    font-size: 30px;
}
.b
{
	position: absolute;
	left: 70%;
	top: 10px;
    font-size: 30px;
}
.btn1 >a
{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.circle
{
	width: 80%;
	top: 40%;
	left: 15%;
	height: 13%;
	position:absolute;
}
.circle1
{
	position: absolute;
	top: 40%;
	left: 5%;
	transform: translate(-50%,-50%);
	border:2px solid #7f8c8d;
	border-radius:50%;
	width: 100px;
	height: 100px;
}
.circle2
{
	position: absolute;
	top: 40%;
	left: 31%;
	transform: translate(-50%,-50%);
	border:2px solid #7f8c8d;
	border-radius:50%;
	width: 100px;
	height: 100px;
}
.circle3
{
	position: absolute;
	top: 40%;
	left: 55%;
	transform: translate(-50%,-50%);
	border:2px solid #7f8c8d;
	border-radius:50%;
	width: 100px;
	height: 100px;
}
.circle4
{
	position: absolute;
	top: 40%;
	left: 79%;
	transform: translate(-50%,-50%);
	border-radius:50%;
	border:2px solid #7f8c8d;
	width: 100px;
	height: 100px;
}
h4
{
	font-weight: normal;
	font-style: italic;
	color: #e74c3c;
	letter-spacing: 1px;
}
.sinfo
{
	text-align: center;
    color: #c44569;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;	
}
.cinfo
{
	color: #c44569;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.label1>h4
{
	position:absolute;
	top: 210%;
	left: -2%;
	width: 110px;
}
.label2>h4
{
	position: absolute;
	top: 210%;
	left: 24%;
	width: 130px;
}
.label3>h4
{
	position: absolute;
	top: 210%;
	left: 47%;
	width: 150px;
}
.label4>h4
{
	position: absolute;
	top: 210%;
	left: 71%;
	width: 140px;
}
.box1
{
	position: relative;
	top: 45%;
	left: 10%;
	width:80%;
	height:24%;
    border:2px solid #7f8c8d;
    position: relative;
}
.box1 > h3
{
	width:160px;
    margin-top:-10px;
    margin-left:30px;
    background-color: white;
    position: relative;
   	color: #c44569;
    border:1px solid black;
}
.footer
{
	content: "";
	width : 100%;
	height: 80px;
	position: absolute;
	background-color: black;
	box-sizing: border-box;	
	top: 120%;
}
.footer > h3{
	font-size: 15px;
	color: white;
	text-align: center;
	position: relative;
	margin-top: 15px;
}

.footer > h3 > a
{
	text-decoration: underline;
	color: white;
}
.scircle
{
	content:"";
	background-color:black; 
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position:absolute;
}
.scircle:hover
{
	box-shadow: 0px 5px 20px white;
}
.scircle1
{
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
}
.scircle1 >a>i
{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.scircle2
{
	top:50%;
	left:75%;
	transform: translate(-50%,-50%);
}
.scircle2 >a>i
{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.scircle3
{
	top: 50%;
	left:80%;
	transform: translate(-50%,-50%);
}
.scircle3 >a>i
{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.scircle4
{
	top: 50%;
	left: 85%;
	transform: translate(-50%,-50%);
}
.scircle4 >a>i
{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@media (max-width:500px)
{
	.header
	{
		height:15%; 
	}
	.header>img
	{
		height: 70px;
		position: absolute;
		top: 10%;
		left: 2%;
	}
	.nav
	{
		display: none;
	}
	.navbtn >a
	{
		display: none;
	}
	.navbtn > i
	{
		display: inline-block;
		opacity: 0.9;
		cursor:pointer;
		font-size: 40px;
		position: relative;
		margin-left:0px; 
	}
	.heading
	{
		height: 70px;
	}
	.heading > label
	{
		top: 50%;
	}
	.sharecircle
	{
		left: 87%;
		top: 80%;
	}
	.facebook
	{
		left: 85%;
		top: 72.5%;
	}
	.instagram
	{
		left:77%;
		top: 76%;
	}
	.youtube
	{
		left:77%;
		top: 84%;  
	}
	.gmail
	{
		left:85%;
		top: 90%;
	}
	.box
	{
		margin-left: 0px;
		left: 3%;
		transform: translate(0%,0%);
		top: 50%;
		width: 450px;
	}
	.registerdonor
	{
		margin-left: 0px;
		left: 3%;
		top: 33%;
		position: absolute;
		width: 450px;
		right: 0px;	
	}
	.login
	{
		width: 100%;
		height: 230px;
	}
	.login > table
	{
		left: 0%;
		margin-top: -15px;
	}
	.login > table  label
	{
		margin-top: 0px;
	}
	.box1
	{
		margin-left: 0px;
		left: 3%;
		top: 135%;
		position: absolute;
		width: 450px;
		right: 0px;
		height: 55%;
	}
	.circle
	{
		position: absolute;
		top: 0%;
		height: 100%;	
		width: 100%;
		left: 0%;
	}
	.circle1
	{
		left: 15%;
		transform: translate(0%,0%);
		top: 10%;
	}
	.label1 > h4
	{
		left: 15%;
		top: 40%;
	}
	.circle2
	{
		left:60%;
		transform: translate(0%,0%);
		top: 10%; 
	}
	.label2 > h4
	{
		left: 58%;
		top: 40%;
	}
	.circle3
	{
		left: 15%;
		transform: translate(0%,0%);
		top: 57%;
	}
	.label3 > h4
	{
		left: 10%;
		top: 85%;	
	}
	.circle4
	{
		left: 60%;
		transform: translate(0%,0%);
		top: 57%;
	}

	.label4 > h4
	{
		left: 58%;
		top: 85%;
	}
	.sidenav
	{
		left: 50%;
		animation-name: anime;
		animation-duration: 2s;
	}
	@keyframes anime
	{
		0%
		{
			left: 100%;
		}
		100%
		{
			left: 50%;
		}
	}
	.footer
	{
		top: 195%;
		height: 22%;
		position: absolute;
	}
	.scircle1
	{
		left: 32%;
		top: 80%;
	}
	.scircle2
	{
		left: 44%;
		top: 80%;
	}
	.scircle3
	{
		left: 56%;
		top: 80%;
	}
	.scircle4
	{
		left: 68%;
		top: 80%;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}